*{
  margin: 0px;
  padding: 0px;
}

/* ADMIN */
  /* LOGIN */
  .content-page {
    position: relative;
    z-index: 1;
    min-height: 300px;
    height: 100vh;
    background: url(../img/wall.png) center/cover no-repeat;
  }
  .content-page:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #272727;
    opacity: 0.7;
  }
  .content-page .form-login {
    width: 350px;
    margin: 0 auto;
    margin-top: 7.5%;
    border-radius: 5px;
    padding: 30px;
    background-color: rgba(1, 5, 5, 0.4);
    color: #FFF;
  }
  .content-page .form-login .logo-admin {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 25px
  }
  .content-page .link-for-site {
    display: block;
    text-align: center;
    color: #FFF;
  }
  /* END - LOGIN */

  /* CONTAINER ADMIN */
  .container-admin {
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .card-admin:hover {
    text-decoration: none;
  }
  /* END - CONTAINER ADMIM */

  /* NAVBAR */
  .navbar-admin {
    background-color: #1F1f1f;
  }
  .navbar-admin .external-element .dropdown-toggle::after {
    display: none;
  }
  .navbar-admin .external-element {
    color: #FFF;
  }
  .navbar-admin .external-element i {
    font-size: 1.5em;
    color: #FFF;
    transition: transform .8s ease-in-out;  
  }
  .navbar-admin .external-element i:hover {
    color: #CCC;
  }
  .navbar-admin .external-element .dropdown-menu {
    color: #FFF;
    left: -100px;
  }
  .navbar-admin .dropdown-menu a {
    color: #FFF;
  }
  .navbar-admin .dropdown-menu {
    background-color: #1F1f1f;
  }
  .navbar-admin .dropdown-menu a:hover {
    background-color: transparent;
    color: #CCC;
  }
  .navbar-admin .navbar-content-item .navbar-nav .nav-item a {
    color: #FFF;
  }
  .navbar-admin .navbar-content-item .navbar-nav .nav-item a:hover {
    color: #CCC;
  }
  .navbar-admin .navbar-toggler-icon {
    background-color: rgb(100, 100, 100);
    border-radius: 2px
  }
  .img-logo-admin {
    max-width: 100px;
  }
  /* END - NAVBAR */

  /* TABLE */
  .table-list-admin {
    padding-top: 50px;
  }
  .table-list-admin thead th,
  .table-list-admin tbody td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
  }
  .table-admin .column-title {
    max-width: 200px;
    text-align: left;
    vertical-align: top;
  }
  .table-admin .column-text {
    max-width: 450px;
    text-align: left;
    vertical-align: middle;
  }
  .img-table {
    max-width: 100px;
    max-height: 100px; 
  }
  input[name="ordenation"] {
    max-width: 75px;
    text-align: center;
  }
  /* END - TABLE */
/* END - ADMIN */

/**/
.input-files:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.photos-item { display: inline-block; position: relative;}
.photos-item .remove-image {
  display: none;
  position: absolute;
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
  top: 7.5px;
  right: 7.5px;
  border-radius: 50%;
  color: #FFF;
  text-decoration: none;
  background-color: rgba(50, 50, 50, 0.5);
}
.photos-item:hover .remove-image { display: block; }
.photos-item .remove-image:hover { background-color: rgba(200, 20, 00, .8) ;}
/**/

/** 404 **/
.pg-404 .main-menu { display: none; }
.title-error {
  margin-top: 50px;
  text-align: center;
  font-size: 5em;
  color: #8cb022;
}
.logo-404 {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}
.subtitle-error { text-align: center; }
.content-text-error {
  max-width: 450px;
  margin: 0 auto;
}
.text-error { text-align: center; }
.btn-link {
  display: inline-block;
  margin: 0 auto;
  background-color: #8cb022;
  color: #FFF;
}
.btn-link:hover {
  color: #9cc032;
}
/* END - 404 **/

/** BOX WARNING **************/
.box-confirmed,
.box-error {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 350px;
  max-width: 100%;
  padding: 20px 30px;
  top: 60px;
  left: 50%;
  margin-left: -175px;
  border-radius: 3px;
  background-color: rgb(0, 218, 152);
  border-bottom: 2px solid #f0f1f2;
  color: #f0f1f2;
  text-align: center;
  font-size: 1.1em;
  /*font-family: '';*/
  cursor: pointer;
}
.box-confirmed:hover { background-color: rgb(0, 218, 152); }
.box-error { background-color: rgb(171, 153, 26); color: #FFF; }
.box-error:hover { background-color: rgb(181, 163, 36); }
/** END - BOX WARNING ****/

/** Errors *** **/
.container-error {
  list-style: none;
}
.container-error li {
}
.container-error li .error {
  width: 100%;
  max-width: 600px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: rgb(238, 172, 20);
  color: #FFF;
}
/** END - Errors **/

/*** NOTIFICATION VALIDATION **/
.form-validate span.error {
  color: rgb(238, 20, 72);
}
.resp-notification { display: none; }
.resp-action { display: none; }
.resp-ob { display: none; }
.notification-validation {
  position: fixed;
  top: 100px;
  right: 5%;
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}
.notification-confirmed {
  background-color: rgb(0, 218, 152);
}
.notification-confirmed:hover {
  background-color: rgb(10, 228, 162);
}
.notification-warning {
  background-color: rgb(238, 172, 20);
}
.notification-warning:hover {
  background-color: rgb(248, 182, 30);
}
form span.error { display: block; color: rgb(238, 20, 72) }
.notification-error {
  background-color: rgb(238, 20, 72);
}
.notification-error:hover {
  background-color: rgb(248, 30, 82);
}
/*** END - NOTIFICATION VALIDATION **/

/*** LOADER ***/
.spinner {
  width: 80px;
  height: 80px;

  border: 4px solid #CCC;
  border-top: 5px solid #349a68;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  background: #f0f1f2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999
}
/** FIM - LOADER ***/

@media (min-width: 1750px) {

}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}
@media (max-height: 667px) {
}
@media (max-width: 576px) {
}
@media (max-width: 380px) {}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
}